
div.adm-header-panel {
    float: left;
    padding-top: 6em;
    position: fixed;
    text-align: center;
    display: table;
    /*background-color: red;*/
}

div.adm-workarea-panel {
    padding-top: 1em;
    float: left;
    /*background-color: #c0c0c0;*/
}

div.adm-avatar {
    padding-bottom: 2em;
}

div.adm-caption {
    width:300px;
    text-align: center;
    padding-bottom: 2em;
}

div.adm-social {
    display: inline;
}


